* {
  box-sizing: border-box;
  margin: 7px;
  padding: 0;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: burlywood;
  text-transform: uppercase;
}
.checkNumber {
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.checkNumber__input {
  width: 150px;
  height: 30px;
  padding-left: 5px;
}
.clue {
  font-family: "Open Sans", sans-serif;
  color: grey;
}
.tries-counter {
  width: 150px;
  height: 30px;
  margin-left: 0;
  font-family: "Open Sans", sans-serif;
  color: grey;
  padding-left: 5px;
}
.button {
  border-style: none;
  border-radius: 5px;
  border: solid 3px grey;
  background-color: burlywood;
  width: 60px;
  font-family: "Open Sans", sans-serif;
  margin-left: -10px;
}
